@utility container {
  width: 100%;
  margin-inline: auto;
  max-width: calc(100% - 4rem)

    @variant md {
    max-width: calc(100% - 8rem);
  }

  @variant lg {
    max-width: calc(100% - 12rem);
  }
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .glass-card {
    @apply border border-white/20 shadow-xl bg-white/70 backdrop-blur-md;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r;
  }

  .blob {
    @apply absolute blur-3xl opacity-30 pointer-events-none rounded-full mix-blend-multiply filter;
    animation: blob 7s infinite;
  }
}
